/* Beta.css */

.root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
  }
  
  .logo {
    margin-bottom: -30px;
  }
  
  .video {
    border-radius: 5px;
    border: none;
    margin: 0px 40px 40px;
    height: 30vw;
    width: 50vw;
    max-width: 900px;
    max-height: 540px;
    min-width: 350px;
    min-height: 210px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #241D19;
  }
  
  .description {
    margin-bottom: 40px;
    text-align: left;
    width: 100%;
    max-width: 900px;
    min-width: 350px;
    line-height: 1.25;
  }
  
  .form {
    max-width: 450px;
    min-width: 350px;
    width: 30vw;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icon {
    margin: 0px;
    margin-left: 250px;
  }
  
  .discord-image {
    margin-top: -85px;
    margin-left: -10px;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .video {
      width: 80vw;
      height: 45vw;
    }
  
    .description {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .form {
      width: 80vw;
    }
  
    .social-icon {
      margin-left: 0;
    }
  
    .discord-image {
      margin-top: 0;
      margin-left: 0;
    }
  }
  