#early-access {
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
    margin: 0px 20px 0px 20px;
}

#early-access:hover {
    background-color: #14100e;
}

@media only screen and (max-width: 575px) {
    .para-gragh {
        min-width: 280px !important;
    }
    .i-frame {
        min-width: 260px !important;
        margin-bottom: 30px;
    }
    html,
    body {
        overflow-x: hidden;
    }
    .beta-field-container {
        min-width: 280px !important;
    }
}

@media only screen and (max-width: 320px) {
    .i-frame {
        position: relative;
        left: -22px;
    }
    .para-gragh {
        position: relative;
        left: -25px;
    }
    .beta-field {
        position: relative;
        left: 0px;
    }
    .stack-icon-button {
        position: relative;
        left: -29px;
    }
    .logo-twine {
        position: relative;
        left: -16px;
    }
    .beta-field-container {
        position: relative;
        left: -25px;
    }
}
@media only screen and (min-width: 768px) {
    .para-gragh {
        margin-top: 40px !important;
    }
}
