.edit-profile h3 {
    font-size: 22px;
}

.edit-inner {
    margin-bottom: 25px !important;
}

.edit-inner .MuiTextarea-root {
    margin-bottom: 25px;
}

@media only screen and (max-width: 545px) {
    .edit-profile {
        display: block !important;
    }

    .container-grid {
        width: 100% !important;
    }

    #sidebar {
        width: 100% !important;
    }
}
