.create-image-upload {
    margin-bottom: 10px !important;
    background: #14100E;
    border-radius: 20px;
    padding: 25px;
    padding-top: 10px;
    /* margin: 20px !important; */
}

.create-image-upload h3 {
    font-size: 22px;
}
.dropdown-field .MuiSelect-root{
    background-color: #0d0603 !important;
    border-radius: 15px !important;
    height: 52px !important;
    border-color: #241D19 !important;
}
.create-story ul{
    background-color: #14100E !important;
    padding: 4px 16px;
}
.dropdown-option{
    background-color:#14100E !important;
    margin: 0 !important;
}
.dropdown-option {
    color:#9E9FEB !important;
    font-weight: 600;

}

#create-cover-wrapper, #create-banner-wrapper {
    border-radius: 15px;
    border: 1px #241D19 dashed;
}

#create-cover-wrapper #create-cover, #create-banner-wrapper #create-banner {
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    object-fit: cover;
}

#create-cover-wrapper-2, #create-banner-wrapper {
    border-radius: 15px;
    border: 1px #241D19 dashed;
}

#create-cover-wrapper-2 #create-cover, #create-banner-wrapper #create-banner {
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    object-fit: cover;
}

#create-cover-wrapper {
    width: 230px;
    height: 330px;
}

#create-cover-wrapper-2 {
    width: 330px;
    height: 230px;
}

#create-cover-wrapper #create-cover {
    width: 200px;
    height: 300px;
}

#create-cover-wrapper-2 #create-cover-2 {
    width: 300px;
    height: 200px;
}

#create-banner-wrapper {
    width: 46vw;
    height: 12vw;
}

#create-banner-wrapper #create-banner {
    width: 44vw;
    height: 10vw;
}

#create-story-right-buttons button {
    width: 230px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .create-image-upload {
      width:85%;
    }
  }
@media (min-width: 768px) and (max-width: 2560px) {
    .create-image-upload {
       padding: 12px;
    }
  }

@media only screen and (max-width: 575px) {
    .two-column-layout{
        display: block !important;
    }
    .margin-remove{
        margin-right:0px !important;
    }
    .create-image-upload {
        width: 100%;
    }
    #create-cover-wrapper {
        width: 100%;
        height: 180px;
    }
    #create-banner-wrapper {
        width: 46vw;
        height: inherit !important;
    }
}