#create-art-upload-wrapper {
    margin-bottom: 10px;
    background: #14100e;
    border-radius: 20px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 35px;
    margin-top: 20px;
}

#create-art-upload-wrapper h3 {
    font-size: 22px;
}

#create-art-image-upload {
    width: 45vw;
    height: 35vw;
    border-radius: 15px;
    border: 1px #241d19 dashed;
}

#create-art-image-upload #create-art-upload {
    width: 42vw;
    height: 32vw;
    object-fit: contain;
    border-radius: 15px;
}
