#create-chapter-stack {
    margin-top: 30px;
    margin-bottom: 20px;
}

#create-chapter-stack .MuiTextarea-root {
    width: 100%
}

#chapter-content .chapter-text {
    text-align: left;
}

#comm-guidelines {
    color: #9E9FEB;
}
img.arrowUpImg1, img.arrowButtonDown2 {
    position: absolute;
    opacity: 0;
    transition: 0.1s;
}
img.arrowUpImg1:hover {
    opacity: 1;
}


img.arrowButtonDown2:hover {
    opacity: 1;
}