#create-chapter-stack {
    margin-top: 30px;
    margin-bottom: 20px;
}

#create-chapter-stack .MuiTextarea-root {
    width: 100%
}

#chapter-content .chapter-text {
    text-align: left;
}

#comm-guidelines {
    color: #9E9FEB;
}