.gallery-tile {
    cursor: pointer;
    height: 332px;
}

.gallery-tile h2 {
    font-size: 22px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gallery-tile h6 {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gallery-tile .gallery-tile-img {
    width: 180px;
    height: 270px;
    border-radius: 25px;
    object-fit: cover;
}

.gallery-tile-title-container {
    display: flex;
    justify-content: left;
    margin-left: 16px;
}
