.home-slot h3 {
    max-height: 20%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 7px;
}

.home-slot h6,
.home-slot .MuiTypography-h6 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60%;
    font-size: 15px;
    margin: 0px;
    padding: 12px 12px 12px 12px;
}

.home-cover {
    border-radius: 15px;
    object-fit: cover;
}
@media screen and (max-width: 750px) {
    .responsive-sheet {
        margin: 0px 67px;
    }
}

@media screen and (min-width: 751px) {
    .responsive-sheet {
        margin: 0px 18px;
    }
}

@media only screen and (max-width: 575px) {
    .gap-phone {
        width: 230px !important;
        margin: 20px auto !important;
    }
    .section-center {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 320px) {
    .gap-phone {
        width: 220px !important;
    }
}

.responsive-sheet.gap-phone.image-container {
    border-radius: 30px;
    padding: 12px 12px 32px 12px;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-column.MuiGrid-grid-xs-12.home-slot-content {
    padding-top: 5px;
    border-radius: 18px;
}

.home-slot .full-hook {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 69%;
    -webkit-line-clamp: 14;
}
