.navLogo img {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 900px) and (min-width: 300px) {
    .navLogo img {
        min-width: 138px;
      }
    
  }

  @media only screen and (max-width: 320px),
       (min-width: 321px) and (max-width: 375px),
       (min-width: 376px) and (max-width: 425px) {
    .navItemsNames .navLink {
    margin-left: 24px !important;
  }
}

@media screen and (max-width: 375px) and (min-width: 300px) {
  .navLogo {
    margin-left: -8px;
    }
  
}

@media screen and (max-width: 768px) and (min-width: 300px) {
  .iconSearch{
    margin-left: 40px;
  }
  .navItemsNames{
    margin-left: 29px;
  }
}