#profile-file-upload {
    width: 130px;
}

#profile-file-upload::file-selector-button {
    border: #4546ab;
    width: 130px;
    height: 40px;
    background-color: #4546ab;
    color: #9E9FEB;
    border-radius: 12px;
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-Regular.ttf');
    font-weight: 700;
    margin-right: 10px;
}

#profile-upload-preview {
    background: #14100E;
    padding: 15px 25px;
    margin: 20px;
    border-radius: 20px;
}

#profile-upload-preview h3 {
    font-size: 20px;
}

#profile-preview-wrapper {
    width: 250px;
    height: 250px;
    border: 1px #241D19 solid;
    border-radius: 15px;
    margin: 10px;
}

#profile-preview-wrapper img {
    border-radius: 50%;
}