#profile-file-upload {
    width: 130px;
}

#profile-file-upload::file-selector-button {
    border: #4546ab;
    width: 130px;
    height: 40px;
    background-color: #4546ab;
    color: #9e9feb;
    border-radius: 12px;
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-Regular.ttf');
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
}

#profile-file-upload::file-selector-button:active {
    background-color: #5758b3;
    border: #5758b3;
}

#profile-upload-preview {
    background: #14100e;
    padding: 15px 25px;
    margin: 20px;
    border-radius: 20px;
}

#profile-upload-preview h3 {
    font-size: 20px;
}

#profile-preview-wrapper {
    border: 1px #241d19 solid;
    border-radius: 15px;
    margin: 10px;
}

.MuiSheet-root.MuiSheet-variantOutlined.MuiSheet-colorNeutral.upload-image-popup {
    border: 1px solid #241D19;
    border-radius: 20px;
}

button.MuiButton-root.Joy-disabled.MuiButton-variantSolid.MuiButton-colorPurple.MuiButton-sizeMd.upload-button{
    border-radius: 15px;
}



                        
