@font-face {
    font-family: Twine;
    src: url("../../public/fonts/Twine.otf") format("opentype");
}

@font-face {
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Oxanium;
    src: url('../../public/fonts/Oxanium/Oxanium-ExtraLight.ttf');
    font-weight: 100;
}
  
body {
    margin: 0;
    padding: 0;
    background: #0d0603;
    font-family: 'Oxanium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.App {
    width: 100vw;
    min-height: 95vh;
    position: relative;
}

#content-wrapper {
    padding-bottom: 140px;
    margin: 0px 70px;
}
@media screen and (max-width : 2560px)and (min-width:1024px) {
    #content-wrapper {
        padding-bottom: 140px;
        width: 75%;
        margin: auto;
    }
}
@media (max-width: 768px) {
    #content-wrapper {
        width: 85%;
        margin: auto !important;
    }
  }
@media screen and (max-width : 800px)and (min-width:300px) {
    #content-wrapper {
        margin: 0px 27px;
    }
}
#pera-wallet-connect-modal-wrapper, #pera-wallet-sign-txn-toast-wrapper {
    position: fixed;
    z-index: 99999; /* Ensures that the pera popup is positioned above everything else */
}